<% if current_user.role == "student" %>

  <% @courses.each do |c| %>
    <% if current_user.id_school == c.school_id %>
    <div class="card w-50">
      <div class="card-body">
        <h5 class="card-title"><%= link_to c.name, c %></h5>
        <p class="card-text"><%= c.description %></p>
          <a class="btn btn-primary" <%= link_to 'Enroll', "/course/"+c.id.to_s+"/enroll" %></a>
      </div>
    </div>
      <br/>
      <% end %>
  <% end %>

<% end %>

<p></p>
<%= link_to "Back", :back, class: "btn btn-secondary" %>